@charset "utf-8";

/* 変数の登録 */
:root{--font_color:#222222;
      --main_color:#efe7a3;
      --nav_color:#e9bd7f;
      --contents_color:#f0d1be;
      --col-1_color:#e5ded9;
      --col-3_color:#bef0be;}

html{box-sizing:border-box;-webkit-text-size-adjust:100%}*,:after,:before{background-repeat:no-repeat;box-sizing:inherit}:after,:before{text-decoration:inherit;vertical-align:inherit}*{padding:0;margin:0;box-sizing:border-box;}audio:not([controls]){display:none;height:0}hr{overflow:visible}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}summary{display:list-item}small{font-size:80%}[hidden],template{display:none}abbr[title]{border-bottom:1px dotted;text-decoration:none}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}code,kbd,pre,samp{font-family:monospace,monospace}b,strong{font-weight:bolder}dfn{font-style:italic}mark{background-color:#ff0;color:#000}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}input{border-radius:0}[role=button],[type=button],[type=reset],[type=submit],button{cursor:pointer}[disabled]{cursor:default}[type=number]{width:auto}[type=search][type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;resize:vertical}button,input,optgroup,select,textarea{font:inherit}optgroup{font-weight:700}button{overflow:visible}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:0;padding:0}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring{outline:1px dotted}[type=reset],[type=submit],button,html [type=button]button,select{text-transform:none}button,input,select,textarea{background-color:transparent;border-style:none;color:inherit}select::-ms-expand{display:none}select::-ms-value{color:currentColor}legend{border:0;color:inherit;display:table;max-width:100%;white-space:normal}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type=search]img{border-style:none;vertical-align: bottom}progress{vertical-align:baseline}svg:not(:root){overflow:hidden}audio,canvas,progress,video{display:inline-block}@media screen{[hidden~=screen]{display:inherit}[hidden~=screen]:not(:active):not(:focus):not(:target){position:absolute!important;clip:rect(0 0 0 0)!important}}[aria-busy=true]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled]{cursor:default}::-moz-selection{background-color:#b3d4fc;color:#000;text-shadow:none}::selection{background-color:#b3d4fc;color:#000;text-shadow:none}ul,ol{list-style:none;}a{text-decoration:none;}img{max-width: 100%;vertical-align: bottom;}

body{color:var(--font_color);
     font-family: "Roboto Mono", monospace;
     overflow-x:hidden;}

/* スマホレイアウト */
/* ヘッダー部分 */
header{height:60px;
       width:100%;
       background-color:var(--main_color);
       padding:0 10px;
       display:flex;
       justify-content:space-between;
       align-items:center;
       position:sticky;
       top:0;
       left:0;
       z-index:calc(infinity)/* z-indexの最上位 */;
@media (min-width:900px){height:100px;
                         position:static;}}
h1{width:50%;
   height:40px;
   background:url(../img/logo.svg) no-repeat left center/contain;
   text-indent:100%;
   white-space:nowrape;
   overflow:hidden;
@media (min-width:900px){width:100%;
                         height:50px;
                         background:url(../img/logo.svg) no-repeat center center/contain;}}
#ham-btn{width:44px;
         height:44px;
         /* border:2px solid var(--font_color); */
         position:relative;
   >span{display:block;
         width:20px;
         height:2px;
         background-color:var(--font_color);
         position:absolute;
         inset:0;
         margin:auto;
         top:-12px;
         transition:0.2s;
    &::after{display:block;
             content:"";
             width:20px;
             height:2px;
             background-color:var(--font_color);
             position:absolute;
             top:12px;
             transition:0.2s;}}
@media (min-width:900px){display:none;}}
#ham-btn.is-active>span{top:0;
                        rotate:45deg;
               &::after{top:0;
                        rotate:90deg;}}

/* ナビゲーション */
#pc-nav{display:none;
@media (min-width:900px){display:block;
                         width:100%;
                         height:50px;
                         background-color:var(--nav_color);
                         position:sticky;
                         top:0;
                         left:0;
                     >ul{display:flex;
                         justify-content:center;
                         height:50px;
                         align-items:center;
                         gap:0 20px;
                       a{display:block;
                         overflow:hidden;
                         padding:10px 14px;
                         color:var(--font_color);
                         position:relative;
                &::after{display:block;
                         content:"";
                         width:100%;
                         height:5px;
                         background-color:#ffffff;
                         position:absolute;
                         inset:0;
                         margin:auto;
                         top:30px;
                         translate:-110% 0;
                         transition:0.2s;}
          &:hover::after{translate:0 0;}}}}}
#g-nav{width:100%;
       height:calc(100vh - 60px);
       background-color:var(--nav_color);
       position:fixed;
       top:60px;
       left:0;
       z-index:calc(infinity);
       padding:40px 20px;
       translate:100% 0;
li{margin-bottom:10px;
>a{border-bottom:2px solid var(--font_color);
   display:block;
   padding:10px 0 10px 10px;
   color:var(--font_color);}}
&.move{translate:0 0;
       transition:0.2s;}
@media (min-width:900px){display:none;}}

/* メイン部分 */
main{padding:10px 10px 0 10px;}

/* コンテンツ部分 */
.content-wrapper{margin-bottom:10px;
@media (min-width:680px){display:flex;
                         justify-content:space-between;
      &:nth-of-type(even){flex-direction:row-reverse;}}}
.content-img{height:45vh;
         >img{object-fit:cover;
              width:100%;
              height:100%;}
@media (min-width:680px){width:calc((100% - 20px) / 3 * 2 + 10px);
                         height:90vh;}}
.content-text{background-color:var(--contents_color);
              height:calc(100vh - 90px - 45vh);
              display:flex;
              flex-direction:column;
              justify-content:center;
              text-align:center;
            >h2{margin-bottom:20px;}
            >p{padding:0 20px;
               line-height:1.2;}
@media (min-width:680px){width:calc((100% - 20px) / 3);
                         height:auto;}}

/* col-1部分 */
.col-1{margin-bottom:10px;
       background-color:var(--col-1_color);
       padding:20vh 20px;
       text-align:center;
       line-height:1.8;
      >h2{margin-bottom:40px;}}

/* col-3部分 */
@media (min-width:900px){.col-3-wrapper{display:flex;
                                        gap:0 10px;
                         >.col-3-box{width:calc((100% - 20px) / 3);
                                     display:block;}}}
.col-3-box{margin-bottom:10px;
&:nth-of-type(2) .icon{background:#ffffff url(../img/icon2.svg) no-repeat center center/50px;}
&:nth-of-type(3) .icon{background:#ffffff url(../img/icon3.svg) no-repeat center center/50px;}
@media (min-width:680px){display:flex;}}
.col-3-img{height:35vh;
       >img{object-fit:cover;
            width:100%;
            height:100%;}
@media (min-width:680px){width:50%;
                         height:80vh;}
@media (min-width:900px){width:100%;
                         height:40vh;}}
.col-3-text{height:320px;
            background-color:var(--col-3_color);
            display:flex;
            flex-direction:column;
            justify-content:center;
            text-align:center;
          >h3{margin-bottom:20px;
              font-size:26px;}
          >.icon{width:80px;
                 height:80px;
                 border-radius:50%;
                 margin:0 auto 20px;
                 background:#ffffff url(../img/icon1.svg) no-repeat center center/50px;
                 text-indent:100%;
                 white-space:nowrap;
                 overflow:hidden;}
@media (min-width:680px){width:50%;
                         height:auto;}
@media (min-width:900px){width:100%;
                         height:340px;}}
/* ボタンのスタイル */
.to-more{width:50%;
         height: fit-content;
         margin:0 auto 15px;
         background-color:#969696;
         border-radius:10px;
      >a{display:block;
         padding:10px 0;
         color:var(--font_color);
      &::after{display:inline-block;
               content:"";
               width:10px;
               height:10px;
               border-top:2px solid var(--font_color);
               border-right:2px solid var(--font_color);
               rotate:45deg;
               margin-left:20px;}}}

/* 申し込みボタン */
.to-form{display: block;
         position:static;
         margin:20px auto 0;
         width:250px;
         font-size: 18px;
         background-color:#969696;
         transition: 0.3s;
      >a{color: var(--font_color);}}
.to-form>a::after{content: '';
                  position: absolute;
                  bottom: 10px;
                  right: 10px;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 0 12px 12px;
                  border-color: transparent transparent #333333 transparent;
                  transition: 0.3s;}
.to-form:hover{filter:brightness(80%);}
.to-form>a:hover::after{bottom: 8px;
                        right: 8px;}

/* フッター部分 */
footer{height:60px;
       width:100%;
       padding:40px 0;
       background-color:var(--main_color);
       margin:0 10px;
    >p{text-align:center;
       font-size:16px;}}

/* ローディングアニメーション */
#curtain{width:100%;
         height:100vh;
         background-color:var(--main_color);
         position:fixed;
         top:0;
         left:0;
         z-index:calc(infinity);}
#logo-box{max-width:500px;
          margin:200px auto 0;}
path{fill:var(--main_color);/* 塗りの色 */
     stroke:var(--font_color);
     stroke-dasharray:205px;
     stroke-dashoffset:205px;
     animation: svg 1.8s 0.5s linear forwards;}
@keyframes svg{0%{stroke-dashoffset:205px;}
               80%{stroke-dashoffset:0;
                   fill:var(--main_color);}
               100%{stroke-dashoffset:0;
                    fill:var(--font_color);}}


   
